<!DOCTYPE html>
<html>
<head>
<title>Main Page</title>
</head>
<body>
	<header> 
        <a href="cart.html"><button type="submit" <i class="fas fa-shopping-cart"></i> View Cart</button></a>
        <p>Products</p><br/> 
        <h1>All the available products in our store</h1>
    </header>
    
    <div >
        <div >
            <a href="productDetail2.html">
                <p><b>P20 Pro 128GB Dual SIM Twilight</b></p>
                <img src="img/p20.jpg"  alt="..."><br />
                <span>A smartphone is a handheld personal computer with a mobile operating system and an integrated mobile broadband cellular network connection for voice, SMS, and Internet data communication; most, if not all, smartphone also support Wi-Fi</span><br /><br />
                <span>899 USD</span><br /><br />
                <span>600 units in stock</span>
                <br/>
                <br/>
                <button type="submit" name="detail" <i class="fas fa-plus"></i> Detail</button>
                <button type="submit" name="order" <i class="fas fa-shopping-cart"></i> Order Now</button>
            </a>
        </div>
    <div >
            <a href="productDetail3.html">
                <p><b>Iphone 8 Plus 64GB PRODUCT RED</b></p>
                <img src="img/iphone8plus.jpg"  alt="..."><br />
                <span>A smartphone is a handheld personal computer with a mobile operating system and an integrated mobile broadband cellular network connection for voice, SMS, and Internet data communication; most, if not all, smartphone also support Wi-Fi</span><br /><br />
                <span>1009 USD</span><br /><br/>
                <span>250 units in stock</span><br />
                <br/>
                 <button type="submit" name="detail" <i class="fas fa-plus"></i> Detail</button>
                <button type="submit" name="order" <i class="fas fa-shopping-cart"></i> Order Now</button>
            </a>
   </div>
   <div class="product_item">
            <a href="productDetail.html">
                <p><b>Iphone X</b></p>
                <img src="img/iphonex.jpg"  alt="..."><br/>
                <span>A smartphone is a handheld personal computer with a mobile operating system and an integrated mobile broadband cellular network connection for voice, SMS, and Internet data communication; most, if not all, smartphone also support Wi-Fi</span><br /><br />
                <span>1099 USD</span><br /><br />
                <span>800 units in stock</span><br/>
                <br/>
                <button type="submit" name="detail" <i class="fas fa-plus"></i> Detail</button>
                <button type="submit" name="order" <i class="fas fa-shopping-cart"></i> Order Now</button>
            </a>
   </div>
   <div class="product_item">
            <a href="productDetail4.html">
                <p><b>Galaxy S8</b></p>
                <img src="img/s8.jpg"  alt="..."><br />
                <span>A smartphone is a handheld personal computer with a mobile operating system and an integrated mobile broadband cellular network connection for voice, SMS, and Internet data communication; most, if not all, smartphone also support Wi-Fi</span><br /><br />
                <span>699 USD</span><br /><br/>
                <span>200 units in stock</span><br/>
                <br/>
                <button type="submit" name="detail" <i class="fas fa-plus"></i> Detail</button>
                <button type="submit" name="order" <i class="fas fa-shopping-cart"></i> Order Now</button>
            </a>
            
   </div>
</div> 
</body>
</html>