<!DOCTYPE html>
<html>
<head>
<title>Mobile Store</title>
<link rel="stylesheet" href="css/productDetail.css">
</head>
<body>
	<header> 
        <h1>Products</h1>   
    </header>
    <div class="single-item">
        <div class="left-set">
            <img src="img/p20.jpg" width="500" height="500" alt="Iphone X">
        </div>
        <div class="right-set">
            <div class="name">P20 Pro 128GB Dual SIM Twilight</div>
            <div class="description">A smartphone is a handheld personal computer with a mobile operating system and an integrated mobile broadband cellular network connection for voice, SMS, and Internet data communication; most, if not all, smartphone also support Wi-Fi</div>
            <div class="itemcode">
                <div class="row">
                    <div class="col-25">
                        <label>Item Code:</label>
                    </div>
                    <div class="col-75">
                        <p>1526440382825</p>
                    </div>
                </div>
            </div>
            <div class="manufacturer">
                <div class="row">
                    <div class="col-25">
                        <label>Manufacturer:</label>
                    </div>
                    <div class="col-75">
                        <p>Huawei</p>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="row">
                    <div class="col-25">
                        <label>Category:</label>
                    </div>
                    <div class="col-75">
                        <p><a href="">huawei</a></p>
                    </div>
                </div>
            </div>
            <div class="unitinstock">
                <div class="row">
                    <div class="col-25">
                        <label>Available units in stock:</label>
                    </div>
                    <div class="col-75">
                        <p>800</p><br />
                    </div>
                </div>
            </div>
            <div class="price">
                <div class="row">
                    <div class="col-25">
                        <label style="font-size:30px;" >1099USD</label>
                    </div>
                </div>
            </div>
            <a href="productList.html"><button type="submit" name="back" <i class="fas fa-arrow-circle-left"></i> back</button></a>
            <a href="cart.html"><button type="submit" name="order" <i class="fas fa-shopping-cart"></i> Order Now</button></a>
        </div>
    </div>
</body>
</html>